  <%= form_for @user, {:html => {:class => "forms-margin form"}} do |f| %>
    <div class="form-group row">
      <%= f.label :name, class: "col-md-2 col-form-label" %>
      <div class="col-md-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :phone, class: "col-md-2 col-form-label" %>
      <div class="col-md-10">
        <%= f.text_field :phone, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :address, class: "col-md-2 col-form-label" %>
      <div class="col-md-10">
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :nickname, class: "col-md-2 col-form-label" %>
      <div class="col-md-10">
        <%= f.text_field :nickname, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </div>
  <%end%>

<h4>Your Pets</h4>
<hr>
<div class="user-pets">
  <div class="">
    <%= render @pets %>
  </div>
</div>
<h4>Add Pets</h4>
<hr>
  <%= form_for @pet, remote: true do |f| %>
    <div class="form-group row">
      <%= f.label :name, class: "col-xs-2 col-form-label" %>
      <div class="col-xs-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :pet_type_id, class: "col-xs-2 col-form-label" %>
      <div class="col-xs-10">
        <%= f.collection_select(:pet_type_id, PetType.all, :id, :type_of_pet, {prompt: "Choose a type of pet"}, {class: "form-control"}) %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
