<script>
$(document).ready(function() {
  var lat = <%= @lat %>;
  var lng = <%= @lng %>;

  var map = L.map('map').setView([lat, lng], 12);
  map.scrollWheelZoom.disable();
  // map.once('focus', function() { map.scrollWheelZoom.enable(); });


  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    touchZoom: false,
    id: 'mapbox.emerald',
    accessToken: 'pk.eyJ1IjoiYWZyb25jemFrIiwiYSI6ImNpdHQzM2d2ejA0eTIydG9icmtldm12Y3kifQ.jcj9k_1lKepTanCSvOVDEw'
  }).addTo(map);

  // Home marker
  var homeIcon = L.icon({
    iconUrl: '<%= image_path("marker2.svg") %>',
    iconRetinaUrl: '<%= image_path("marker2.svg") %>',
    iconSize: [38, 38]
  });
  L.marker([lat, lng], {icon: homeIcon}).addTo(map);

  var myIcon = L.icon({
    iconUrl: '<%= image_path("marker2.svg") %>',
    iconRetinaUrl: '<%= image_path("marker2.svg") %>',
    iconSize: [38, 38]
  });


  <% current_user.care_providers.distinct.each do |provider| %>
    var marker = L.marker([<%= provider.latitude %>, <%= provider.longitude %>], {icon: myIcon}).addTo(map);
    marker.bindPopup('<%= provider.name %><br/><%= link_to provider.website, provider.website.html_safe %><br/><%= provider.address %><br/><%= phone_number_link(provider.phone) %>');
  <% end %>
})
</script>



<div class="row app-bottom">
  <div class="col-lg-6">
    <div id="map"></div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Nearby Providers</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group care-providers-list-group">
        <% @care_providers.each do |provider| %>
          <li class="list-group-item" data-toggle="modal" data-target="#provider-<%= provider.id%>">
            <span class="list-group-provider-name"><%= provider.name %></span>
            <span class="badge"><%= number_with_precision(provider.distance, precision: 2) %> mi </span>
          </li>
        <% end %>
        </ul>

        <% @care_providers.each do |provider| %>
          <div class="modal" id="provider-<%= provider.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><%= provider.name %></h4>
                </div>
                <div class="modal-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      Website:
                      <span class="pull-right">
                        <%= link_to provider.name, provider.website.html_safe %>
                      </span>
                    </li>
                    <li class="list-group-item">
                      Phone:
                      <span class="pull-right">
                        <%= phone_number_link(provider.phone) %>
                      </span>
                    </li>
                    <li class="list-group-item">
                      Address:
                      <span class="pull-right">
                        <%= provider.address%>
                      </span>
                    </li>
                    <li class="list-group-item">
                      Specializations:
                      <span class="pull-right">
                        <% provider.pet_types.uniq.each do |type| %>
                          <%= image_tag("animals/svg/#{type.type_of_pet.tableize.singularize}.svg", title: type.type_of_pet, size: 20) %>
                        <% end %>
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
