<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :phone %>
        <%= f.text_area :phone %>
      </div>
      <div class="found-definitions"></div>
      <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
      <div class="field">
        <%= f.label :nickname %>
        <%= f.text_field :nickname %>
      </div>
      <div class="actions">
        <%= f.submit 'Submit' %>
      </div>
    </div>
  </fieldset>
</form>
