<!DOCTYPE html>
<html>
  <head>
    <title>RightMeowOauth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="<%= body_class %>">
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <%= image_tag("rightmeow_catface.png", size: '150', class: "top-icon")%>
      <h1 class="headline">Right Meow!</h1>
    </div>

    <div class="container-fluid">
      <div class="row ">
        <div class="col-md-10 col-md-offset-1 main">
          <% if logged_in? %>
            <div class="logged-in">
              Not
              <%= link_to "#{current_user.name}", edit_user_path %>?
              <%= link_to "Sign out", logout_path%>
            </div>
          <%end%>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="footer-align text-center col-sm-4 col-sm-offset-4">
        <p>
          Carefully crafted by <a href="adamfronczak.com">Adam Fronczak</a> at
          <%= image_tag("TIY-Logo-500px-white.png", size: '40')%>
        </p>
      </div>
    </div>
  </body>
</html>
