<!DOCTYPE html>
<html>
  <head>
    <title>RightMeowOauth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="row flex-container">
        <div class="col-md-12">
          <h1 class="headline text-center">Right Meow!</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <%= image_tag("grumpy-cat.svg", size: 50, class: "top-icon")%>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-1 side-icons container">
          <%= image_tag("grumpy-cat.svg", size: 150)%>
        </div>
        <div class="col-lg-8 col-md-10 text-center main">
          <% if logged_in? %>
            Not
            <%= link_to "#{current_user.name}", edit_user_path %>?
            <%= link_to "Sign out", logout_path%>
          <%else%>
          <%end%>
          <%= yield %>
        </div>
        <div class="col-lg-2 col-md-1 side-icons container">
          <%= image_tag("building.svg", size: 150) %>
        </div>
      </div>
    </div>
  </body>
</html>
