<!DOCTYPE html>
<html>
  <head>
    <title>Right Meow!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="<%= body_class %>">
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <%= image_tag("rightmeow_catface200.svg", size: '150', class: "top-icon")%>
      <h1 class="headline">Right Meow!</h1>
    </div>

    <div class="container-fluid wrapper">
        <div class="col-md-12 main">
          <% if logged_in? %>
            <div class="page-header logged-in">
              <h4>
                Hello
                <%= link_to "#{current_user.name}", edit_user_path %>
                <span class="pull-right"><%= link_to "Sign out", logout_path%></span>
              </h4>
            </div>
          <%end%>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="row footer-row">
      <div class="footer-align text-center col-sm-6 col-sm-offset-3">
        <p>
          Carefully crafted by <a href="http://adamfronczak.com">Adam Fronczak</a> at
          <%= link_to image_tag("TIY-Logo-500px-white.png", size: '40'), "https://www.theironyard.com/"%>
        </p>
      </div>
    </div>
    <div class="cloud-wrapper">
      <div class="cloud" data-type="white_4" style="top: 238px;" data-speed="1"></div>
      <div class="cloud" data-type="white_2" style="top: 252px;" data-speed="2"></div>
      <div class="cloud" data-type="white_1" style="top: 481px;" data-speed="3"></div>
      <div class="cloud" data-type="white_1" style="top: 285px;" data-speed="4"></div>
      <div class="cloud" data-type="white_5" style="top: 391px;" data-speed="5"></div>
      <div class="cloud" data-type="white_4" style="top: 410px;" data-speed="6"></div>
      <div class="cloud" data-type="white_6" style="top: 494px;" data-speed="7"></div>
      <div class="cloud" data-type="white_6" style="top: 197px;" data-speed="8"></div>
      <div class="cloud" data-type="white_1" style="top: 254px;" data-speed="9"></div>
      <div class="cloud" data-type="white_2" style="top: 108px;" data-speed="10"></div>
      <div class="cloud" data-type="white_5" style="top: 133px;" data-speed="11"></div>
      <div class="cloud" data-type="white_5" style="top: 126px;" data-speed="12"></div>
    </div>
  </body>
</html>
